body {
  background-color: rgb(131, 10, 10);
}

.main-header {
  text-align: center;
  background-color: rgb(100, 10, 10);
  margin: 60 10px;
  border: 5px solid rgb(163, 147, 3);
  color: rgb(163, 147, 3);
}

.post-class {
  text-align: center;
  background-color: rgb(100, 10, 10);
  margin: 60 10px;
  border: 5px solid rgb(163, 147, 3);
  padding: 10px 10px;
  color: rgb(163, 147, 3);
}
.cookie-pic1 {
  width: 600;
}
.text1 {
  color: rgb(163, 147, 3);
}
.final {
  font-size: x-large;
}
