body {
  background-color: rgb(231, 206, 150);
}

.main-header {
  position: absolute;
  top: 5px;
  left: 12px;
  font-size: 40;
  background-color: rgb(231, 206, 150);
  margin: 60 10px;
  border: 5px solid rgb(132, 86, 60);
  color: rgb(132, 86, 60);
  padding: 35px;
}

.bloghead {
  font-size: 27px;
}

.post-class {
  text-align: center;
  background-color: rgb(231, 206, 150);
  margin: 60 10px;
  border: 5px solid rgb(132, 86, 60);
  padding: 10px 10px;
  color: rgb(132, 86, 60);
}

.final {
  font-size: xx-large;
  font-style: oblique;
}

.picture1 {
  width: 1ch;
}
.cookiepng1 {
  width: 300;
}

.cookiepng2 {
  width: 200;
}

.rosscookie {
  width: 500;
}
.fathers {
  width: 1000;
}

.finhead {
  size: 100px;
}

.textbig {
  color: rgb(132, 86, 60);
  border: 5px solid rgb(132, 86, 60);
  padding: 25px;
  margin-left: 250px;
  margin-right: 250px;
}
