body {
  background-color: rgb(217, 170, 95);
}

.main-header {
  position: absolute;
  top: 5px;
  left: 12px;
  font-size: 50;
  background-color: rgb(231, 206, 150);
  margin: 60 10px;
  border: 5px solid rgb(132, 86, 60);
  color: rgb(132, 86, 60);
  padding: 35px;
  font-family: "Francois One", sans-serif;
}

.bloghead {
  font-size: 27px;
}

.post-class {
  text-align: center;
  background-color: rgb(231, 206, 150);
  margin: 60 10px;
  border: 5px solid rgb(132, 86, 60);
  padding: 10px 10px;
  color: rgb(132, 86, 60);
  font-family: "Francois One", sans-serif;
}

.picture1 {
  width: 1ch;
}
.cookiepng1 {
  width: 325;
}

.cookiepng2 {
  width: 240;
}

.cookiepng3 {
  width: 150px;
}

.rosscookie {
  width: 500;
}
.fathers {
  width: 1000;
}

.finhead {
  size: 100px;
}

.textbig {
  color: rgb(132, 86, 60);
  border: 5px solid rgb(132, 86, 60);
  padding: 25px;
  margin-left: 250px;
  margin-right: 250px;
  font-family: "Francois One", sans-serif;
}

.declar {
  font-family: "Tangerine", cursive;
  margin-left: 300px;
  margin-right: 300px;
  font-size: 20px;
}

.fincook {
  font-family: "Rock Salt", cursive;
  font-size: 25px;
}

.sub {
  position: absolute;
  right: 30px;
  top: 10px;
}
